Health Potion;A potion that regenerate your health.;health_potion.png;0;10
Great Health Potion;A potion that greatly regenerate your health.;great_health_potion.png;0;20
Speed Potion;A potion that boost your speed.;speed_potion.png;1;5
Great Speed Potion;A potion that greatly boost your speed.;great_speed_potion.png;1;10
Attack Scrolls;A scrolls that boost your attack.;attack_scrolls.png;2;10
Defense Scrolls;A potion that boost your defense.;defense_scrolls.png;3;10
Key;A key to leave this forest.;key.png;-1;-1
Apple;An apple you can eat to regenerate your health.;apple.png;0;5
Cheese;A cheese you can eat to regenerate your health.;cheese.png;0;5
