npc1=Hello, thanks for coming here.\nWill you be brave enough to help us?|Of course, what's the problem?\nUh... I think I took a wrong way sorry.|Join the archer a little higher,\nshe will explain the problem to you.|Arf.
npc2=Help us to kill the beast! We need to\nfind all the keys lost in the forest.|I will do everything I can.\nA beast?! No way I help you.|You will find your first key in this\nchest. Press 'P' to open it and take it.|Well........... okay.
npc3=I heard there was a key around the\nabandoned house west of here.|Ok, I'll take a look.\nI am phobic of haunted places, sorry.|Be careful anyway, It seems\nthat strange creatures live there.|No problem.
npc4=Did you know that you could check\nyour pockets by pressing 'I'.|nWow amazing, thank you.\nYes my arms are functional.|See you!|Good bye!